body {
  font-family: "Poppins", sans-serif;
  margin: 0;
}
h1 {
  font-size: 50px;
}
.orange-color {
  color: orange;
}
.section-flex {
  display: flex;
}
.flex-container {
  display: flex;
}
.half-width {
  width: 50%;
  padding-left: 5%;
  padding-top: 10px;
  padding-bottom: 100px;
}
.half-width img {
  width: 90%;
}
.link-button {
  text-decoration: none;
  background-image: linear-gradient(orange, tomato);
  color: aliceblue;
  font-weight: 700;
  padding: 10px 40px;
  border-radius: 5px;
}
.download-button {
  text-decoration: none;
  color: azure;
  background-image: linear-gradient(orange, tomato);
  font-weight: 700;
  padding: 10px 50px;
  border-radius: 5px;
}
.top-banner {
  background-image: url(images/top-banner.png);
  background-repeat: no-repeat;
}
.background-banner {
  background-image: url(images/dream-bg.png);
  background-repeat: no-repeat;
  background-position: right;
}
.experience-item {
  width: 40%;
  margin-left: 5%;
  margin-right: 5%;
  padding-left: 20px;
  box-shadow: 10px 10px 40px gray;
  border-radius: 10px;
}
.experience-area {
  padding-bottom: 150px;
}
